@page "/account-registration"

@inject IAccountRegistration registration
@inject NavigationManager nav

@code{
    public string Message { get; set; } = "";
    public string Email { get; set; } = "eckumoc@gmail.com";
    public string Password { get; set; } = "eckumoc@gmail.com";
    public string Confirmation { get; set; } = "eckumoc@gmail.com";
}

@code{
    public void OnRegistrationSubmited()
    {
        Console.WriteLine($"{Email} {Password} {Confirmation}");
        if(Password==Confirmation){
            if(registration.Signup(Email, Password)){
                this.Message = "Регистрация выполнена";
                nav.NavigateTo("/user-login");
            }else{
                this.Message = "Регистрация не выполнена";
            }
        }else{
            this.Message = "Пароль отличается от потверждения";
        }        
    }
}

<div align="center">  
    <div style="width: 640px;" align="left">
        <h3>Регистрация учетной записи</h3>
        <div class="text text-info">@Message</div>
        <form @onsubmit="@OnRegistrationSubmited">                     
            <div class="col-12">
                <label for="username" class="form-label"> Имя пользователя </label>
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <input type="email" @bind="Email" class="form-control" id="username" placeholder="Электронная почта" required>
                    <div class="invalid-feedback">
                        Необходимо ввести имя пользователя
                    </div>
                </div>
            </div><hr/>
            <div class="col-12">
                <label for="password" class="form-label"> Пароль </label>
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <input type="password" @bind="Password" class="form-control" id="password" placeholder="Пароль" required>
                    <div class="invalid-feedback">
                        Необходимо ввести пароль
                    </div>
                </div>
            </div><hr/>
            <div class="col-12">
                <label for="password" class="form-label"> Подтверждение </label>
                <div class="input-group has-validation">
                    <span class="input-group-text">@@</span>
                    <input type="password" @bind="Confirmation" class="form-control" id="confirmation" placeholder="Подтверждение" required>
                    <div class="invalid-feedback">
                        Необходимо ввести подтверждение пароля
                    </div>
                </div>
            </div><hr/>
            <div class="col-12" align="right" style="padding: 10px;">
                <button class="btn btn-primary btn-sm"> Выполнить </button>
            </div>
        </form>
    </div>
    <div align="center">
        <NavLink class="nav-link" href="user-login"  style="width: 100%; margin-left: 20px;">
            <span class="oi oi-account-login" aria-hidden="true"></span> Авторизация пользователя
        </NavLink>
    </div>
</div> 
