@page "/account-registration"
<div class="row">
    <h3>Account_Registration</h3>
    <form>                     
        <div class="col-12">
            <label for="username" class="form-label"> Имя пользователя </label>
            <div class="input-group has-validation">
                <span class="input-group-text">@@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                <div class="invalid-feedback">
                    Необходимо ввести имя пользователя
                </div>
            </div>
        </div>
        <div class="col-12">
            <label for="password" class="form-label"> Пароль </label>
            <div class="input-group has-validation">
                <span class="input-group-text">@@</span>
                <input type="text" class="form-control" id="password" placeholder="Пароль" required>
                <div class="invalid-feedback">
                    Необходимо ввести пароль
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary btn-sm"> Выполнить </button>
        </div>
    </form>
</div>

@code {

}
