@page "/customer-navigation" 
<div>

    <h3>Order_Checkout</h3>
    <Order_Checkout></Order_Checkout>

    <h3>Account_Registration</h3>
    <Account_Registration></Account_Registration>

    <h3>User_Login</h3>
    <User_Login></User_Login>

    <h3>Select_Payment_Method</h3>
    <Select_Payment_Method></Select_Payment_Method>

    <h3>Purchase_History</h3>
    <Purchase_History></Purchase_History>

    <h3>Purchase_Order</h3>
    <Purchase_Order></Purchase_Order>

    <h3>Order_Status_Tracing</h3>
    <Order_Status_Tracing></Order_Status_Tracing>

    <h3>Order_Checkout</h3>
    <Order_Checkout></Order_Checkout>
</div>

@code {

}
