@inherits LayoutComponentBase
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <div class="list-group-item active">Личные данные</div>
                <div class="list-group-item">Сообщения</div>
                <div class="list-group-item">История</div>
                <div class="list-group-item">Выход</div>

            </div>
        </div>
        <div class="col-8">
            @Body
        </div>
    </div>
</div>