@page "/purchase-order"
 
@inherits ComponentBase
 
<div class="container">
  <main>
 
    <div class="py-5 text-center">

        <h2>Выберите товары</h2>
        <form class="card p-2" style="width: 100%;">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Поиск по каталогу">
              <button type="submit" class="btn btn-secondary">Поиск</button>
            </div>
        </form>


    </div>
    <div class="row g-5">

      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary"> Покупки </span>
          <span class="badge bg-primary rounded-pill"> 3 </span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"> Продукт </h6>
              <small class="text-muted"> Краткое описание </small>
            </div>
            <span class="text-muted">$12</span>
          </li>
           
          <li class="list-group-item d-flex justify-content-between">
            <span>Всего (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Исп. промо код">
            <button type="submit" class="btn btn-secondary">Применить</button>
          </div>
        </form>
      </div>

     
      <div class="col-md-7 col-lg-8">

          <div class="card">
              <div class="card-header">
                  Товар 1
              </div>
              <div class="card-body">
                  <h5 class="card-title"> Наименование товара </h5>
                  <p class="card-text"> Краткое описание товара его приемущетва. </p>
                  <a href="#" class="btn btn-primary btn-sm"> Добавить в корзину </a>
              </div>
          </div> 
          <div class="card">
              <div class="card-header">
                  Товар 2
              </div>
              <div class="card-body">
                  <h5 class="card-title"> Наименование товара </h5>
                  <p class="card-text"> Краткое описание товара его приемущетва. </p>
                  <a href="#" class="btn btn-primary btn-sm"> Добавить в корзину </a>
              </div>
          </div>         
                            
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#"> Политика </a></li>
      <li class="list-inline-item"><a href="#"> Терминология </a></li>
      <li class="list-inline-item"><a href="#"> Поддержка </a></li>
    </ul>
  </footer>
</div>