@page "/select-payment-method"
   
<div style="padding: 20px;">
  <h2> Оплата заказа </h2>
  <div class="row gy-3">
    

    <div class="col-md-6">
      <label for="cc-number" class="form-label">Номер</label>
      <input type="text" class="form-control" id="cc-number" placeholder="" required>
      <div class="invalid-feedback">
        Введите номер карты
      </div>
    </div>

    <div class="col-md-3">
      <label for="cc-expiration" class="form-label">Дата</label>
      <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
      <div class="invalid-feedback">
        Выбери дату окончания действия
      </div>
    </div>

    <div class="col-md-3">
      <label for="cc-cvv" class="form-label">CVV</label>
      <input type="text" class="form-control" id="cc-cvv" placeholder="CVV" required>
      <div class="invalid-feedback">
        Введи CVV
      </div>
    </div>
  </div>

  <hr class="my-4">  
</div>

         

          