@page "/select-payment-method"
@code{
    public object authState { get; set; } = "waiting";
}     
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/apple.png" alt="" width="72" height="57">
      <h2> 
          Оформление заказа
        </h2>
        <p class="lead"> Выборите товар  </p>
        <form class="card p-2" style="width: 100%;">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Исп. промо код">
            <button type="submit" class="btn btn-secondary">Применить</button>
            </div>
        </form>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary"> Покупки </span>
          <span class="badge bg-primary rounded-pill"> 3 </span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0"> Продукт </h6>
              <small class="text-muted"> Краткое описание </small>
            </div>
            <span class="text-muted">$12</span>
          </li>
           
          <li class="list-group-item d-flex justify-content-between">
            <span>Всего (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Исп. промо код">
            <button type="submit" class="btn btn-secondary">Применить</button>
          </div>
        </form>
      </div>

     
      <div class="col-md-7 col-lg-8">





        @switch(authState){
          case "success":   break;
          case "payment":   
              <h4 class="mb-3">Оплата</h4>

              <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                  <label class="form-check-label" for="credit">Кредитная карта </label>
                </div>
                <div class="form-check">
                  <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="debit">Дебитовая карта</label>
                </div>
                <div class="form-check">
                  <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                  <label class="form-check-label" for="paypal">PayPal</label>
                </div>
              </div>
          break;
          case "waiting": 
          


        <h4 class="mb-3"> Покупатель  </h4>
        <form class="needs-validation" novalidate @onsubmit="@(evt=>this.authState="payment")">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label"> Имя </label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Необходимо ввести имя
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label"> Фамилия </label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Необходимо ввести фамилию               
              </div>
            </div>



          </div>
           <div class="col-12">
              <label for="address" class="form-label"> Адрес </label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Необходимо ввести адрес
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Адрес  2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select class="form-select" id="country" required>
                <option value="">Выбери...</option>
                <option>Страну</option>
              </select>
              <div class="invalid-feedback">
                Выбери страну
              </div>
            </div>
        </form>
        <form>

            <div class="col-md-4">
              <label for="state" class="form-label">Город</label>
              <select class="form-select" id="state" required>
                <option value="">Выбери город...</option>
                <option>California</option>
              </select>
              <div class="invalid-feedback">
                Ds,thb ujhjl
              </div>
            </div>
          <div class="row g-3" align="right">
              <button class="btn btn-primary btn-sm"> Далее </button>
              <button class="btn btn-danger btn-sm"> Назад </button>       
          </div>

        </form>







            <div class="row">
            <div class="col-12">
              <label for="username" class="form-label"> Имя пользователя </label>
              <div class="input-group has-validation">
                <span class="input-group-text">@@</span>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
              <div class="invalid-feedback">
                  Неаобходимо ввести имя пользователя
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Необходимо ввести электронную почту
              </div>
            </div>

           

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Код к архиву
              </div>
            </div>
          </div>

          <hr class="my-4">
 
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">
              Запомнить информацию обо мне
            </label>
          </div>

          <hr class="my-4">

         

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label"> Комментарий </label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required>
              <small class="text-muted">Краткий комментарий о назначении платежа</small>
              <div class="invalid-feedback">
              Выбери карту
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Номер кредитной карты</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Выкди номер карты
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Действие</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Выбери дату окончания действия
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Введи секретный ключ
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit"> Продолжить и перейти к фоормлению</button>
       
            break;
          case "progress":  break;
          default: break;
        }
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017–2021 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>